*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 0,625rem;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: inherit;
}
main{
    width: 100%;
    height: 100%;
    background-image: url(../image/Anime\ Landscape\ 4k\ Ultra\ HD\ Wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex; 
    align-items: center;
}

main div{
    margin-bottom: 1.5rem;
    
}
main .title{
    width: 80%;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.25rem solid;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 2rem auto;
}
main .btn{
   display: flex;
   justify-content: center;
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}


.btn button{
  overflow: hidden;
  position: relative;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  background: #9843c0;
  cursor: pointer;
  border: none;

}
.btn button:hover{
    background: #8230a8;
}

.btn button:after {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: #fff;
  opacity: 0.2;
  position: absolute;
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  transition: all 0.1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.key{
    display: flex;
    justify-content: center;
}
.key input{
    width: 80%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    box-sizing: border-box; /* Для корректного учета padding и border */
    background-color: #3b3b3b;
    color: white;
   
}
main .wrap{
    
    background-image: url(../image/09d23fbe13ac3182ef8f52aaa79cd99b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
    max-width: 700px;
    margin: 0 auto;
    
    border-radius: 1rem;
    
}
.monolog{
    margin: 0 auto;
}
.monolog p{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 3rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}